.git
.gitignore
.venv
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
coverage.xml
*.md
.env
.env.*
!.env.example
logs
tests
trash
.vscode
.cursor
.cursorignore
